@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(http://themes.googleusercontent.com/static/fonts/arvo/v6/BM-nqL-L5PgjKPDNaleWB_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  src: local('Arvo Bold'), local('Arvo-Bold'), url(http://themes.googleusercontent.com/static/fonts/arvo/v6/_OKjjqM9ed2qvTR07QdjWwLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGMVNtom4QlEDNJaqqqzqdSs.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGCmgpmuQqK2I-L2S9cF65Ek.woff) format('woff');
}

body{
    padding: 10px;
    margin: 0;
    font-family: 'Source Sans Pro';
    color: #666;
    font-weight: 400;
}

body.open{
    overflow: hidden;
}

img {
    outline: none;
}

a {    
    text-decoration: none;
}

a:hover {    
    text-decoration: underline;
}

.left_nav a {
    outline: none;
    color: #888;    
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;    
}

ul{
    padding: 0;
    margin:0;
}
p{  
    font-weight: 300;
    text-align: justify;
}

h3{
    font-weight: 600;
}
h2{
    text-align: center;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 1.25em;
    text-transform: uppercase;
}

input[type="submit"]{
    font-family: 'Source Sans Pro';
    font-size: 14px;
    border-radius: 5px;
    height: 28px;
    width: 60px;
    border: none;
}
input[type="text"], input[type="password"]{
    font-family: 'Source Sans Pro';
    height: 25px;
    width: 160px;
    color: #777;
    margin: 0 5px;
    border-radius: 5px;
    border: 1px solid #B9BDC1; 
    text-indent: 5px;
    -moz-box-shadow: 0 2px 4px #bbb inset; 
    -webkit-box-shadow: 0 2px 4px #BBB inset; 
    box-shadow: 0 2px 4px #BBB inset; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 

}

.left_nav a{
    font-size: 16px;
}

.left_nav a, .review a, .anim {    
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.left_nav a:hover, .review a:hover, .anim:hover{
    font-weight: 700;
    color: #9E2645;

}

.button {      
    display: block;
    width: 100%  
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    -webkit-box-shadow:
    0 4px 0 #C57382,
    0 10px 15px rgba(0,0,0,.35);
    -moz-box-shadow:
    0 4px 0 #C57382,
    0 10px 15px rgba(0,0,0,.35);
    box-shadow:
    0 4px 0 #C57382,
    0 10px 15px rgba(0,0,0,.35);
}

.button:active {   
    -webkit-box-shadow: 
    0 4px 0 #C57382,
    0 8px 10px rgba(0,0,0,.3);
    -moz-box-shadow: 
    0 8px 0 #C57382,
    0 8px 10px rgba(0,0,0,.3);
    box-shadow: 
    0 4px 0 #C57382,
    0 8px 10px rgba(0,0,0,.3);
    -webkit-transition: -webkit-box-shadow .2s ease-in-out;
    -moz-transition: -moz-box-shadow .2s ease-in-out;
    -o-transition: -o-box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
}

.button:active > span {  
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

.button > span {
    display: block;
    width: 100%;
    text-align: center;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9E2645), to(#5bacd6));
    background: -moz-linear-gradient(#9E2645, #5bacd6);    
    background: #9E2645;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-weight: 700;
    text-shadow: 0 -1px 1px rgba(19,65,88,.8);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -moz-transition: -moz-transform .2s ease-in-out;
    -o-transition: -o-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}

.author {
    color: #666;
}

.clearfix {
    clear: both;
}
.main_book_container {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.book_image {
    cursor: pointer;
    width: 45%;
    float: left;
    text-align: center;
    padding-right: 10px;
}

.links {  
    position: absolute;
    right: 0;   
    width: 48%;
    height: 95%;
    float: left;
    text-align: left; 
    border: 5px solid lightgray;
    border-radius: 5px;
}
.links_contents ul {
    margin-top: 10px;
    padding-left: 10px;
}
.links_container, .links_contents, .links_contents ul{    
    height: 100%;
} 

.links_heading {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    background-color: lightgray;
}
.links_contents li a {
    font-size: 16px;
}
.links_contents li {    
    margin-bottom: 20px;
    line-height: 15px;    
    list-style: none;
}

.signIn {
    font-size: 14px;
    margin-top: -32px;
    text-align: right;
    padding-right: 12%;
}

.main_heading{
    height: 70px;
    background-repeat: no-repeat;
    background-size: 350px auto;    
    background-position: center center;  
    background-image: url('../images/red_alert.png');
    
}
.main_heading_desc {
    text-transform: uppercase;    
    margin-bottom: 20px
}

.curve_edges{
    border-radius: 7px;
}
.upper_body {    
    text-align: center;
}

.line {
    border: solid 1px #e5e5e5;
    margin-bottom: 7px;
    clear: both;
}

.left_nav{
    width: 24%;
    display: inline-block;
    padding: 0 10px;
    font-family: 'arvo';
    color: #777;
}
.left_nav li {
    border-bottom: solid 2px #e5e5e5;
    padding: 30px 0;
    list-style: none;
}

.mobile_menu{
    display: none;
} 
.right_hand_side{
    display: none;
    vertical-align: top;
    width: 68%;
}

.book_image img, .links .links_container {       
    width: 100%;
    box-shadow: none;
    transition: width .2s ease-in-out, box-shadow .2s ease-in-out;
}

.book_image img:hover{ 
    box-shadow: 0px 0px 15px gray;   
    width: 100%;
}

.comma_open, .comma_close{
    height: 14px;
}

.table_of_contents{
    font-size: 12px;
    padding-left: 10px;
}

.table_of_contents li {
    padding: 5px 0;
    border: none;
}

.table_of_contents li:first-child, .table_of_contents > .part{
    margin-top: 10px;
}

.table_of_contents li a {
    font-weight: 400;
}
.list_contents {
    margin-bottom: 50px;
}

.list_contents.sub {
    margin: 0;
}

.methew_image, .john_image {
    padding-right: 10px;
    float: left;
}

.review {
    margin-bottom: 20px;
    font-weight: 300;
    text-align: justify;
    padding: 10px;
    border: 1px solid #f3f3f3;
    border-radius: 7px;
    box-shadow: 0px 0px 10px #777;
}

.review .review_info .review_img {
    display: inline-block;
    vertical-align: top;
    width: 12%;
    border-radius: 5px;
}

.review .review_info .name_info {
    display: inline-block;
    width: 80%
}

.review .review_info {
    font-weight: 400;
    padding: 10px 0;
}

.more {
    width: 200px;
}

.close {
    display: none;
}

.mobile_left_nav {
    display: none;
}








@media handheld, screen and (max-width: 480px) {


    .left_nav, .hidden{
        display: none;
    }
    .main_heading {     
        background-size: 150px auto; 
        height: 26px;
    }  

    .main_heading_desc {        
        margin-bottom: 10px
    }  

    .upper_body{
        margin-top: 15px;
    }

    .mobile_menu{
        height: 50px;
        line-height:50px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
    .mobile_menu_button{        
        float: left;
        width: 60px;
        height: 40px
    } 
    .mobile_menu_button:before{
        content: '';
        display: block;
        width: 60px;
        height: 40px;
        background: rgba(232,232,232,0.9);
        border-radius: 4px;
        position: absolute;
        left: 5px;
        top: 5px;
        box-shadow: 0.125em 0.125em 0 0 rgba(0,0,0,0.15);
    }
    .mobile_menu_button:after{
        content: '';
        display: block;
        width: 28px;
        height: 24px;
        position: absolute;
        left: 25px;
        top: 13px;
        background: url('../images/mobile_menu.png') 0px 0px no-repeat;
        opacity: 0.35;
        background-size: contain;
    } 
    .right_hand_side{
        width: 100%;
    } 
    .book_image, .methew_image, .john_image{  
        width: 100%;
        margin: 0;         
        text-align: center;
        float: none;
    }
    .methew_image img, .book_image img {
        width: 90%;
    }
    .john_image img {
        width: 70%;    
    }

    .mobile_left_nav{        
        font-size: 12px;        
        width: 80%;
        position: fixed;
        top: 0;
        left: 0;
        color: #fff;
        opacity: 0.9;
        background-color: #222;
        padding: 0 10px;
        border-bottom-right-radius: 5px;
        z-index: 10;
    }

    .mobile_left_nav *{
        color: #EEE;
    }

    .mobile_left_nav ul li {
        padding: 30px 0;
    }

    .mobile_left_nav ul li:last-child{
        border:none;
    }
    .close{
    font-family: 'Source Sans Pro';        
        display: inline;
        font-size: 36px;
        float: right;
    }
    .links {  
        position: relative;        
        width: 88%;    
        margin: 8px 5% ;
        float: none;            
        text-align: left; 
        border: 5px solid lightgray;
        border-radius: 5px;
    }
}

@media handheld, screen and (max-width: 800px) {
    .left_nav ul li a{
        font-size: 12px;
    }
    .main_heading {     
        background-size: 200px auto; 
        height: 34px;
    }
    .links_contents li {
        margin-bottom: 5px; 
    }  
    .links_contents li a {        
        font-size: 12px;
    }
}
