
body{
    padding: 10px;
    margin: 0;
    font-family: 'Source Sans Pro';
    color: #666;
    font-weight: 400;
}

body.open{
    overflow: hidden;
}

a {
    color: #888;    
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;    
}
.left_nav a{
    font-size: 16px;
}

.left_nav a, .review a, .anim {    
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.left_nav a:hover, .review a:hover, .anim:hover{
    font-weight: 700;
    color: #9E2645;

}
ul{
    padding: 0;
    margin:0;
}
p{  
    font-weight: 300;
    text-align: justify;
}

h3{
    font-weight: 600;
}
h2{
    text-align: center;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 1.25em;
    text-transform: uppercase;
}

input[type="submit"]{
    font-family: 'Source Sans Pro';
    font-size: 14px;
    border-radius: 5px;
    height: 28px;
    width: 60px;
    border: none;
}
input[type="text"], input[type="password"]{
    font-family: 'Source Sans Pro';
    height: 25px;
    width: 160px;
    color: #777;
    margin: 0 5px;
    border-radius: 5px;
    border: 1px solid #B9BDC1; 
    text-indent: 5px;
    -moz-box-shadow: 0 2px 4px #bbb inset; 
    -webkit-box-shadow: 0 2px 4px #BBB inset; 
    box-shadow: 0 2px 4px #BBB inset; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 

}

.button {      
  display: block;
  width: 100%  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow:
    0 4px 0 #C57382,
    0 10px 15px rgba(0,0,0,.35);
  -moz-box-shadow:
    0 4px 0 #C57382,
    0 10px 15px rgba(0,0,0,.35);
  box-shadow:
    0 4px 0 #C57382,
    0 10px 15px rgba(0,0,0,.35);
}

.button:active {   
  -webkit-box-shadow: 
    0 4px 0 #C57382,
    0 8px 10px rgba(0,0,0,.3);
  -moz-box-shadow: 
    0 8px 0 #C57382,
    0 8px 10px rgba(0,0,0,.3);
  box-shadow: 
    0 4px 0 #C57382,
    0 8px 10px rgba(0,0,0,.3);
    -webkit-transition: -webkit-box-shadow .2s ease-in-out;
    -moz-transition: -moz-box-shadow .2s ease-in-out;
    -o-transition: -o-box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
}

.button:active > span {  
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
}

.button > span {
    display: block;
    width: 100%;
    text-align: center;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9E2645), to(#5bacd6));
    background: -moz-linear-gradient(#9E2645, #5bacd6);    
    background: #9E2645;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-weight: 700;
    text-shadow: 0 -1px 1px rgba(19,65,88,.8);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -moz-transition: -moz-transform .2s ease-in-out;
    -o-transition: -o-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}

.book_image {
    
    padding-bottom: 10px;
    cursor: pointer;
    width: 40%;
    float: left;
    text-align: center;
    padding-right: 10px;
}

.signIn {
    font-size: 14px;
    margin-top: -32px;
    text-align: right;
    padding-right: 12%;
}

.main_heading{
    height: 70px;
    background-repeat: no-repeat;
    background-size: 350px auto;    
    background-position: center center;  
    background-image: url('../images/red_alert.png');
    
}
.main_heading_desc {
    text-transform: uppercase;
    border-bottom: solid 2px #e5e5e5;
    padding-bottom: 20px
}
.mobile_menu{    
    height: 50px;
    line-height:50px;
    width: 100%;
}

.curve_edges{
    border-radius: 7px;
}
.upper_body {
    border-bottom: solid 2px #e5e5e5;
    padding-bottom: 20px;
    text-align: center;
    height: 100px;
}

.left_nav{
    width: 24%;
    display: inline-block;
    padding: 20px;
    font-family: 'arvo';
    color: #777;
}
.left_nav li {
    border-bottom: solid 2px #e5e5e5;
    padding: 30px 0;
    list-style: none;
}

.mobile_menu{
    display: none;
} 
.right_hand_side{
    display: none;
    vertical-align: top;
    width: 68%;
    padding: 20px 0;    
}
.book_image img {   
    margin-bottom: 5px; 
    width: 99.5%;
    box-shadow: none;
    transition: width .2s ease-in-out, box-shadow .2s ease-in-out;
}

.book_image img:hover{ 
    box-shadow: 0px 0px 15px gray;   
    width: 100%;
}

.comma_open, .comma_close{
    height: 14px;
}

.table_of_contents{
    font-size: 12px;
    padding-left: 10px;
}

.table_of_contents li {
    padding: 5px 0;
    border: none;
}

.table_of_contents li:first-child, .table_of_contents > .part{
    margin-top: 10px;
}

.table_of_contents li a {
    font-weight: 400;
}
.list_contents {
    margin-bottom: 50px;
}

.list_contents.sub {
    margin: 0;
}

.methew_image, .john_image {
    padding-right: 10px;
    float: left;
}

.review {
    margin-bottom: 20px;
    font-weight: 300;
    text-align: justify;
    padding: 10px;
    border: 1px solid #f3f3f3;
    border-radius: 7px;
    box-shadow: 0px 0px 10px #777;
}

.review .review_info .review_img {
    display: inline-block;
    vertical-align: top;
    width: 12%;
    border-radius: 5px;
}

.review .review_info .name_info {
    display: inline-block;
    width: 80%
}

.review .review_info {
    font-weight: 400;
    padding: 10px 0;
}

.more {
    width: 100px;
}

#canvas {
    height: auto;
    max-width: 100%;
}
.book_gallery{
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;  
}
.book_gallery_container {
    display: none;
    position: fixed;    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
    background-color: rgba(255,255,255,0);    
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;

}

.book_gallery_container * {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.book_gallery_container.display{
    display: block;
}

.book_gallery_container.display.open{
    background-color: rgba(255,255,255,1);
}
.book_gallery_container.display.open *{
    opacity: 1;
}

.book_gallery_container.display.open .nav div{
    opacity: 0.4;    
}
.book_gallery_container.display.open .nav .close{
    opacity: 0.6;    
}
.book_gallery_container.display.open .nav .close:hover{
    opacity: 1;    
}
.book_gallery_container.display.open .nav div:hover{
    opacity: 0.9;
}

.nav .left, .nav .right {
    position: absolute;    
    background-position: center center;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;   
    cursor: pointer; 
} 
.nav .left {
    background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    right: 90%;
    left: 0;
}
.nav .right .right_chevron, .nav .left .left_chevron{
    position: absolute;
    top: 45%;
    display: inline-block;
    height: 40px;
    width: 25px;
    background-size: cover;
    background-repeat: no-repeat;
}
.nav .left .left_chevron{    
    right: 50%;    
    background-image: url('../images/left_arrow.png');
}
.nav .right .right_chevron{    
    left: 50%;    
    background-image: url('../images/right_arrow.png');
}

.nav .right {    
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    left: 90%;
    right: 0;    
}

.close:before{
    content: 'X';
}

.close {
    cursor: pointer;
    margin-left:100px;
    margin-bottom: 100px; 
    border: 2px solid gray;
    position: absolute;
    right: 20px;
    top: 10px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 50px;

}
.loading{    
    width: 80px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    top: 40%;
    left: 45%;
}
footer {
    height: 300px;
    border-top: solid 2px #e5e5e5;
    background: #f0f0f0;
}


/*
.left_page_0,
.left_page_1,
.left_page_3,
.left_page_5,
.left_page_7,
.left_page_9,
.left_page_11,
.left_page_13,
.left_page_15,
.left_page_17,
.left_page_19,
.left_page_21,
.left_page_23,
.left_page_25,
.left_page_27,

.right_page_0,
.right_page_2,
.right_page_4,
.right_page_6,
.right_page_8,
.right_page_10,
.right_page_12,
.right_page_14,
.right_page_16,
.right_page_18,
.right_page_20,
.right_page_22,
.right_page_24,
.right_page_26{
    background-size:100% 100%;
    background-repeat:no-repeat;    
}

.left_page_0{
    background-image: url('../images/pages/left_page_0.png');
}
.left_page_1{
    background-image: url('../images/pages/left_page_1.png');
}
.left_page_3{
    background-image: url('../images/pages/left_page_3.png');
}
.left_page_5{
    background-image: url('../images/pages/left_page_5.png');
}
.left_page_7{
    background-image: url('../images/pages/left_page_7.png');
}
.left_page_9{
    background-image: url('../images/pages/left_page_9.png');
}
.left_page_11{
    background-image: url('../images/pages/left_page_11.png');
}
.left_page_13{
    background-image: url('../images/pages/left_page_13.png');
}
.left_page_15{
    background-image: url('../images/pages/left_page_15.png');
}
.left_page_17{
    background-image: url('../images/pages/left_page_17.png');
}
.left_page_19{
    background-image: url('../images/pages/left_page_19.png');
}
.left_page_21{
    background-image: url('../images/pages/left_page_21.png');
}
.left_page_23{
    background-image: url('../images/pages/left_page_23.png');
}
.left_page_25{
    background-image: url('../images/pages/left_page_25.png');
}
.left_page_27{
    background-image: url('../images/pages/left_page_27.png');
}


.right_page_0{
    background-image: url('../images/pages/right_page_0.png');
}
.right_page_2{
    background-image: url('../images/pages/right_page_2.png');
}
.right_page_4{
    background-image: url('../images/pages/right_page_4.png');
}
.right_page_6{
    background-image: url('../images/pages/right_page_6.png');
}
.right_page_8{
    background-image: url('../images/pages/right_page_8.png');
}
.right_page_10{
    background-image: url('../images/pages/right_page_10.png');
}
.right_page_12{
    background-image: url('../images/pages/right_page_12.png');
}
.right_page_14{
    background-image: url('../images/pages/right_page_14.png');
}
.right_page_16{
    background-image: url('../images/pages/right_page_16.png');
}
.right_page_18{
    background-image: url('../images/pages/right_page_18.png');
}
.right_page_20{
    background-image: url('../images/pages/right_page_20.png');
}
.right_page_22{
    background-image: url('../images/pages/right_page_22.png');
}
.right_page_24{
    background-image: url('../images/pages/right_page_24.png');
}
.right_page_26{
    background-image: url('../images/pages/right_page_26.png');
}
*/