
body{
    padding: 10px;
    margin: 0;
    font-family: 'Source Sans Pro';
    color: #666;
    font-weight: 400;
}

body.open{
    overflow: hidden;
}

img {
    outline: none;
}

a {
    outline: none;
    color: #888;    
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;    
}
.left_nav a{
    font-size: 16px;
}

.left_nav a, .review a, .anim {    
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.left_nav a:hover, .review a:hover, .anim:hover{
    font-weight: 700;
    color: #9E2645;

}
ul{
    padding: 0;
    margin:0;
}
p{  
    font-weight: 300;
    text-align: justify;
}

h3{
    font-weight: 600;
}
h2{
    text-align: center;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 1.25em;
    text-transform: uppercase;
}

input[type="submit"]{
    font-family: 'Source Sans Pro';
    font-size: 14px;
    border-radius: 5px;
    height: 28px;
    width: 60px;
    border: none;
}
input[type="text"], input[type="password"]{
    font-family: 'Source Sans Pro';
    height: 25px;
    width: 160px;
    color: #777;
    margin: 0 5px;
    border-radius: 5px;
    border: 1px solid #B9BDC1; 
    text-indent: 5px;
    -moz-box-shadow: 0 2px 4px #bbb inset; 
    -webkit-box-shadow: 0 2px 4px #BBB inset; 
    box-shadow: 0 2px 4px #BBB inset; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 

}

.button {      
  display: block;
  width: 100%  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow:
    0 4px 0 #C57382,
    0 10px 15px rgba(0,0,0,.35);
  -moz-box-shadow:
    0 4px 0 #C57382,
    0 10px 15px rgba(0,0,0,.35);
  box-shadow:
    0 4px 0 #C57382,
    0 10px 15px rgba(0,0,0,.35);
}

.button:active {   
  -webkit-box-shadow: 
    0 4px 0 #C57382,
    0 8px 10px rgba(0,0,0,.3);
  -moz-box-shadow: 
    0 8px 0 #C57382,
    0 8px 10px rgba(0,0,0,.3);
  box-shadow: 
    0 4px 0 #C57382,
    0 8px 10px rgba(0,0,0,.3);
    -webkit-transition: -webkit-box-shadow .2s ease-in-out;
    -moz-transition: -moz-box-shadow .2s ease-in-out;
    -o-transition: -o-box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
}

.button:active > span {  
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
}

.button > span {
    display: block;
    width: 100%;
    text-align: center;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9E2645), to(#5bacd6));
    background: -moz-linear-gradient(#9E2645, #5bacd6);    
    background: #9E2645;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-weight: 700;
    text-shadow: 0 -1px 1px rgba(19,65,88,.8);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -moz-transition: -moz-transform .2s ease-in-out;
    -o-transition: -o-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}

.book_image {
    
    padding-bottom: 10px;
    cursor: pointer;
    width: 40%;
    float: left;
    text-align: center;
    padding-right: 10px;
}

.signIn {
    font-size: 14px;
    margin-top: -32px;
    text-align: right;
    padding-right: 12%;
}

.main_heading{
    height: 70px;
    background-repeat: no-repeat;
    background-size: 350px auto;    
    background-position: center center;  
    background-image: url('../images/red_alert.png');
    
}
.main_heading_desc {
    text-transform: uppercase;    
    margin-bottom: 20px
}

.curve_edges{
    border-radius: 7px;
}
.upper_body {    
    text-align: center;
}

.line {
    border: solid 1px #e5e5e5;
    margin-bottom: 7px;
    clear: both;
}

.left_nav{
    width: 24%;
    display: inline-block;
    padding: 0 20px;
    font-family: 'arvo';
    color: #777;
}
.left_nav li {
    border-bottom: solid 2px #e5e5e5;
    padding: 30px 0;
    list-style: none;
}

.mobile_menu{
    display: none;
} 
.right_hand_side{
    display: none;
    vertical-align: top;
    width: 68%;
}
.book_image img {   
    margin-bottom: 5px; 
    width: 99.5%;
    box-shadow: none;
    transition: width .2s ease-in-out, box-shadow .2s ease-in-out;
}

.book_image img:hover{ 
    box-shadow: 0px 0px 15px gray;   
    width: 100%;
}

.comma_open, .comma_close{
    height: 14px;
}

.table_of_contents{
    font-size: 12px;
    padding-left: 10px;
}

.table_of_contents li {
    padding: 5px 0;
    border: none;
}

.table_of_contents li:first-child, .table_of_contents > .part{
    margin-top: 10px;
}

.table_of_contents li a {
    font-weight: 400;
}
.list_contents {
    margin-bottom: 50px;
}

.list_contents.sub {
    margin: 0;
}

.methew_image, .john_image {
    padding-right: 10px;
    float: left;
}

.review {
    margin-bottom: 20px;
    font-weight: 300;
    text-align: justify;
    padding: 10px;
    border: 1px solid #f3f3f3;
    border-radius: 7px;
    box-shadow: 0px 0px 10px #777;
}

.review .review_info .review_img {
    display: inline-block;
    vertical-align: top;
    width: 12%;
    border-radius: 5px;
}

.review .review_info .name_info {
    display: inline-block;
    width: 80%
}

.review .review_info {
    font-weight: 400;
    padding: 10px 0;
}

.more {
    width: 200px;
}

.close {
    display: none;
}

.mobile_left_nav {
    display: none;
}
